body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #330033;
    height: 100vh;
}

input{ 
    margin: auto;
    -webkit-appearance: slider-vertical;
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 30px;
    cursor: pointer;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px; /* 1 */
    height: 60px;
    background: #ddd;
    box-shadow: 0 590px 0 60vw dodgerblue;
    border: 2px solid #999;
}
